/* This css style guide is inspired by http://futuregadget-lab.com/ */
body {
    background-color: #1a073e;
    align-content: center;
    text-align:center;
}

img {
    max-width: 480px;
    max-height: 280px;
}

h1 {
    color: limegreen;
}

h2 {
    color: #FF0
}

h3 {
    color: #F00
}

h4 {
    color: #F0F;
}

h6 {
    color: #FFF;
}

footer {
    color: white;
    background-color: #1a073e;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: 50%;
    padding-bottom: 25px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card-title {
    text-align: center;
    color: #FF0;
    font-size: 2em;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
    color: #FFF;
}

.wrapper {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    padding-top: 25px;
    padding-bottom: 25px;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1; 
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

#navbar {
    background-color: #1a073e;
    border-bottom: solid 10px #15013d;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
}

#menu a {
    float: left;
    display: block;
    color: #FF0;
    text-align: center;
    padding-right: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

#menu a:hover {
    background-color: black;
    color: #F00;
}

#container {
    display: block;
    margin-top: 100px;
    position: absolute;
}